.custom-badge {
  border-radius: 50px !important;
  background: #efeeee !important;
  color: #333 !important;
  margin: 0 0.3em;
}

.card {
  border: none;
}

.card-body {
  box-shadow: 1px 5px 20px 0px #ebebeb;
}
