.brand-container{display:flex;width:100%}.brand-container .brand-box{border-right:1px solid #000}.brand-container .brand-box:last-child{border-right:none!important}.custom-badge{border-radius:50px!important;background:#efeeee!important;color:#333!important;margin:0 .3em}.card{border:none}.card-body{box-shadow:1px 5px 20px 0 #ebebeb}
/*# sourceMappingURL=main.9029e30e.chunk.css.map */